header,
body,
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(8, 68, 8, 0.747);
}
header {
  background-color: rgba(0, 128, 0, 0.548);
  padding-bottom: 20px;
}
#enTeteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  width: 25%;
}
#recherche {
  margin-bottom: 20px;
  margin-top: 20px;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#content {
  display: flex;
  flex-direction: column-reverse;
}
h1,
h2 {
  color: rgba(8, 68, 8, 0.747);
}
#cardsContainer {
  display: flex;
  flex-direction: row;
}
.card {
  border: 2px solid rgba(0, 128, 0, 0.548);
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
}
.card > img {
  width: 50%;
}
#imageProduit {
  width: 10%;
}
#tableContainer {
  margin-top: 20px;
}
table {
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
thead {
  text-align: center;
  background-color: rgba(0, 128, 0, 0.548);
  color: aliceblue;
}
td {
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
}
li {
  display: inline;
  font-size: small;
}
p {
  font-size: smaller;
}
footer {
  background-color: rgba(193, 240, 193, 0.548);
}
@media (min-width: 768px) {
  #logo {
    width: 10%;
  }
  #cardsContainer {
    display: flex;
    flex-direction: row;
  }
  .card {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  .card > img {
    width: 50%;
  }
  #tableContainer {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
  }
  table {
    width: 100%;
  }
  #imageProduit {
    width: 30%;
  }
}
